<!DOCTYPE html>
<html lang=en>
    <head>
    <title>Exercise 3.8.1 </title>
    <meta charset="UTF-8">
    </head>
    <body>
        <h2>JS Fundamentals</h2>
        <script>
        let shape = prompt("What is the shape you want to calculate the perimeter?");
        if(shape=="rectangle"){

        let length=parseFloat(prompt("What is the lenght of the rectangle in cm"));
        let width=parseFloat(prompt("what is the width of the rectangle in cm"));

        let sum=2*length+2*width;
        alert("tThe parameter of the rectangle is"+sum);
        }
        </script>
    </body>
</html>